<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="http://pan-10063730.cos.myqcloud.com/time.js"></script>
<script src="http://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href="http://cdn.bootcss.com/vue-material/0.7.1/vue-material.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/vue-material/0.7.1/vue-material.js"></script>
<script src="http://cdn.bootcss.com/echarts/3.4.0/echarts.common.js"></script>

<style>body{padding-top: 40px;}
#content{padding-top: 60px;}
.text-danger {
	color: #ea403d!important;
}
.text-warning {
	color: #ff5722!important;
}
.text-info {
	color: #31708f!important;
}
</style>

</head>
<body>
<div class="container">
	<div class="col-md-8 col-md-offset-2">
<div id="bing" style="width: 600px;height:400px;"></div>
</div></div>
<div class="container" id="app">
	<div class="col-md-8 col-md-offset-2">

		<template v-for="(record,index) in records">
		<div class="col-md-4">
			<h1 v-bind:class="class_dict[record.ioo]">{{kind_dict[record.ioo]}}</h1>
		</div>
		<div class="col-md-6">
			<h1 v-bind:class="class_dict[record.ioo]">{{record.amount}}</h1>
			<p>{{record.date_time | time_to_date}}</p>

			<div class="has-ripple">
				<md-ink-ripple />
			</div>
		</div>
		<div class="col-md-2" v-on:click="m_delete(record.id,index)">
			<br />
			<md-button v-if="can_delete" class="md-raised md-accent">Del</md-button>
		</div>
		</template> 
	</div>
	<div class="modal fade" id="myInsert" tabindex="-1" role="dialog" >
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">A new line</h4>
				</div>
				<div class="modal-body">
					<form novalidate @submit.stop.prevent="submit">
						<div class="form-group">
							<input class="form-control" type="date" id="date_time" name="date_time" v-model="form.date_time">
						</div>

						<div class="col-md-6">
							<md-radio v-model="form.ioo_select" md-value="1">Income</md-radio>
						</div>
						<div class="col-md-6">
							<md-radio v-model="form.ioo_select" md-value="0">Outcome</md-radio>     
						</div>

						<div v-if="form.ioo_select!=1">
							<br /><br /><br /><br /><br /><br />
							<div class="col-md-3" v-on:click="form.o_select=2">
								Cloth<br>
								<md-button class="md-fab md-clean" v-bind:class="{ 'md-warn': check_equal(2) }">
								<md-icon>adb</md-icon>
								</md-button>

							</div>
							<div class="col-md-3" v-on:click="form.o_select=3">
								Eat <br>
								<md-button class="md-fab md-clean" v-bind:class="{ 'md-warn': check_equal(3) }">
								<md-icon>restaurant</md-icon>
								</md-button>  

							</div>
							<div class="col-md-3" v-on:click="form.o_select=4">
								Room<br>
								<md-button class="md-fab md-clean" v-bind:class="{ 'md-warn': check_equal(4) }">
								<md-icon>hotel</md-icon>
								</md-button>
							</div>
							<div class="col-md-3" v-on:click="form.o_select=5">
								Go <br>
								<md-button class="md-fab md-clean" v-bind:class="{ 'md-warn': check_equal(5) }">
								<md-icon>directions bike</md-icon>
								</md-button> 
							</div>
							<br /><br /><br /><br /><br /><br /><br /><br />
						</div>
						<md-input-container>
						<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
						<label>Amount</label>
						<md-input id="amount" v-model="form.amount" name="amount" type="int"></md-input>
						<md-icon>attach_money</md-icon>
						</md-input-container>


					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="bt-post" type="button" class="btn btn-raised btn-success" v-on:click="post_form">Insert it</button>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
"use strict";
var kind_dict=['','Income','衣','食','住','行'];
var class_dict=['',"text-danger","text-info","text-warning","text-primary","text-muted"];
$(document).ready(function(){
		Vue.use(VueMaterial);
		$.getJSON("/db.json",function(result){
			var m_app = new Vue({
el: '#app',
data: {
records: result,
kind_dict:kind_dict,
class_dict:class_dict,
can_delete:0,
form: {
date_time: '',
amount: '',
ioo_select: 1,
o_select:0
}
},
methods:{
post_form:function(event){
var real_ioo_select;
if(this.form.ioo_select==1) real_ioo_select=1;
else real_ioo_select=this.form.o_select;
var reg = /^[1-9]\d{3}\/(0[1-9]|1[0-2])\/(0[1-9]|[1-2][0-9]|3[0-1])$/;
var regExp = new RegExp(reg);
if(!regExp.test(this.form.date_time)) { alert("The Date is invaild"); return;}
var date_time = (Number(Date.parse(new Date(this.form.date_time+" 20:20:20"))))/1000;
if(isNaN(this.form.amount)) { alert("The amount should be a number"); return;}

console.log(123456);
$.post("/insert"
	, {date_time:date_time,ioo:real_ioo_select,amount:this.form.amount}
	,function(result){
	console.log("insert ok");
m_app.form.ioo_select=1;
m_app.form.amount='';
m_app.form.date_time='';
m_app.form.o_select=0;
////////////////////////////
$.getJSON("/chart",function(result){
	var myChart = echarts.init(document.getElementById('bing'));
	var option = {

    title: {
	text: 'Balance of payments',
        left: 'center',
        top: 20,
        textStyle: {
            color: '#ccc'
        }
    },

    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    visualMap: {
        show: false,
        min: 80,
        max: 600,
        inRange: {
            colorLightness: [0, 1]
        }
    },
    series : [
        {
            name:'Balance of payments',
            type:'pie',
            radius : '55%',
            center: ['50%', '50%'],
            data:result.sort(function (a, b) { return a.value - b.value}),
            roseType: 'angle',
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            labelLine: {
                normal: {
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    },
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                }
            },
            itemStyle: {
                normal: {
                    color: '#40b4ea',
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },

            animationType: 'scale',
            animationEasing: 'elasticOut',
            animationDelay: function (idx) {
                return Math.random() * 200;
            }
        }
    ]
};

myChart.setOption(option);
});
/////////////////////////////
	});
$('#myInsert').modal('hide');

function compare(value1, value2) {
	if (value1['date_time'] < value2['date_time']) {
		return 1;
	} else if (value1['date_time'] > value2['date_time']) {
		return -1;
	} else {
		return 0;
	}
}
this.records.push({date_time:date_time,ioo:real_ioo_select,amount:this.form.amount});
this.records.sort(compare);

},
check_equal:function(event){
		    if(this.form.o_select==event) return true;
		    else return false;

	    },
m_delete:function(id,index){
		 $.post("/delete"
				 ,{id:id}
				 ,function(result){
				 console.log("Delete ok");

				 });
		 m_app.records.splice(index, 1);
////////////////////////////
$.getJSON("/chart",function(result){
	var myChart = echarts.init(document.getElementById('bing'));
	var option = {

    title: {
	text: 'Balance of payments',
        left: 'center',
        top: 20,
        textStyle: {
            color: '#ccc'
        }
    },

    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    visualMap: {
        show: false,
        min: 80,
        max: 600,
        inRange: {
            colorLightness: [0, 1]
        }
    },
    series : [
        {
            name:'Balance of payments',
            type:'pie',
            radius : '55%',
            center: ['50%', '50%'],
            data:result.sort(function (a, b) { return a.value - b.value}),
            roseType: 'angle',
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            labelLine: {
                normal: {
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    },
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                }
            },
            itemStyle: {
                normal: {
                    color: '#40b4ea',
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },

            animationType: 'scale',
            animationEasing: 'elasticOut',
            animationDelay: function (idx) {
                return Math.random() * 200;
            }
        }
    ]
};

myChart.setOption(option);
});
/////////////////////////////
	 },
	 },
filters: {
time_to_date: function (value) {
		      return $.myTime.UnixToDate(value)
	      }
	 }
});
document.onkeyup=function(event){
	var e=event||window.event;
	var keyCode=e.keyCode||e.which;
	switch(keyCode){
		case 17:
			$('#myInsert').modal('show');
			break;
		case 16:
			console.log("Shift");
			m_app.can_delete=!m_app.can_delete;
			break;
	}

}


});


/*
filters: {
time_to_date: function (value) {
if (!value) return ''
value = value.toString()
return $.myTime.UnixToDate(value)
}
}
 */


});

</script>

</body>
<script>
////////////////////////////
$.getJSON("/chart",function(result){
	var myChart = echarts.init(document.getElementById('bing'));
	var option = {

    title: {
	text: 'Balance of payments',
        left: 'center',
        top: 20,
        textStyle: {
            color: '#ccc'
        }
    },

    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    visualMap: {
        show: false,
        min: 80,
        max: 600,
        inRange: {
            colorLightness: [0, 1]
        }
    },
    series : [
        {
            name:'Balance of payments',
            type:'pie',
            radius : '55%',
            center: ['50%', '50%'],
            data:result.sort(function (a, b) { return a.value - b.value}),
            roseType: 'angle',
            label: {
                normal: {
                    textStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    }
                }
            },
            labelLine: {
                normal: {
                    lineStyle: {
                        color: 'rgba(255, 255, 255, 0.3)'
                    },
                    smooth: 0.2,
                    length: 10,
                    length2: 20
                }
            },
            itemStyle: {
                normal: {
                    color: '#40b4ea',
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },

            animationType: 'scale',
            animationEasing: 'elasticOut',
            animationDelay: function (idx) {
                return Math.random() * 200;
            }
        }
    ]
};

myChart.setOption(option);
});
/////////////////////////////

</script>

</html>
